body,
html {
  text-align: center;
  font-size: 2em;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

button {
  padding: 0.5em;
  margin: 1em;
  font-size: 0.5em;
  width: 10em;
  height: 5em;
}

h1 {
  text-decoration: underline;
}

p {
  text-emphasis: none;
}
